<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.petdians.admin.mapper.AdminMapper">

    <select id="selectAll" resultType="org.petdians.admin.domain.Admin">
        select * from tbl_admin
        order by adminID limit #{skip}, #{perSheet}
    </select>

    <insert id="insert">
    insert into tbl_admin (adminID, adminPW, adminName) values(#{adminID}, #{adminPW}, #{adminName})
    </insert>

    <select id="selectOne" resultType="org.petdians.admin.domain.Admin">
    select * from tbl_admin where adminID = #{adminID}
    </select>

    <update id="update">
    update tbl_admin set adminPW = #{adminPW}, adminName = #{adminName}, updatedate = now() where adminID = #{adminID}
    </update>

    <delete id="delete">
    delete from tbl_admin where adminID = #{adminID}
    </delete>

    <!-- ToTal -->
    <select id="getTotalCount" resultType="Integer">
        select count(adminID) from tbl_admin
    </select>

</mapper>