<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.petdians.task.mapper.TaskMapper">

    <select id="getOldFiles" resultType="org.petdians.animal.domain.ImageVO">
        select * from tbl_image where substr(uploadPath,11) = date_format(now() - INTERVAL 1 day, '%Y\\%m\\%d')
    </select>

</mapper>