<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.petdians.pet.mapper.PetImageMapper">

    <!-- INSERT -->
    <insert id="imageRegister" >
		<![CDATA[
        insert into tbl_petimage (pno, regDate, updateDate, uuid,
                               uploadPath, fileName, type)
        values (#{pno},now(),now(), #{uuid},
                #{uploadPath}, #{fileName}, #{type})
        ]]>

	</insert>

</mapper>